<IfModule mod_headers.c>
    <FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css|css|js|gif|png|jpe?g|svg|svgz|ico|webp|mp4)$">
        Header set Access-Control-Allow-Origin "atsdo.xyz"
    </FilesMatch>
</IfModule>